.abt_header {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 3.5em;
  color: #2a4c90;
  margin-bottom: 3rem;
  margin-top: 6rem;
  text-align: center;
}

.para_desc {
  max-width: 550px;
}

.about_desc p{
  text-align: justify;
}

@media (max-width: 430px) {
  .aboutus_img {
    width: 400px;
  }

  .about_desc h2 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
  }

  .para_desc {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
  }

  .abt_header {
    font-size: 2.5em;
    text-align: center;
  }
}
