.carousel-item {
  width: 100vw;
  height: 90vh;
}
.carousel-caption {
  height: 10px;
  width: 594px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  text-align: center;
  margin: auto;

  border-radius: 20px;
  color: #ffff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.carousel-caption h5,
.carousel-caption p {
  max-width: 300px;
  margin: 0 auto;
}

.carousel-caption p {
  margin-top: 2rem;
}

@media (max-width: 430px) {
  .carousel-item {
    height: auto;
  }
  .carousel-caption {
    width: auto;
    height: auto;
    margin: 0;

    border-radius: 10px;
    background: none;
  }

  .carousel-caption h5 {
    font-size: 1.2rem;
  }
  .carousel-caption p {
    display: none;
  }
}
