.teamcards_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.teammidbanner {
  text-align: center;
  align-items: center;
}

.team_header {
  margin-top: 10vh;
  font-size: 3.5em;
  font-weight: bold;
  color: #2a4c90;
  text-align: center;
  text-align: center;
  margin-bottom: 6rem;
}

.teammidbannerpicdetailshead p {
  font-family: "Acme", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #8c8c99;
  margin-top: 25px;
  width: 500px;
}

.teammidbannerpic {
  margin-left: -10vw;
  margin-top: -25px;
}

.teammidbannerpic img {
  width: 600px;
  height: 300px;
}

.teamcards {
  margin-top: 20vh;
  margin-left: 2vw;
}

.teamdetailcardinfo {
  text-align: center;
  align-items: center;
  background-color: #ffff;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  box-shadow: 2px 4px 4px 0px #2a4c90;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  border-width: 1px;
  border-color: #2a4c90;
  border-style: solid;
  border-top: 0px;
  margin-right: 2rem;
  margin-bottom: 6rem;
}

.teamdetailaboutpic img {
  width: 100px;
  height: 100px;
  position: static;
  align-items: center;
  text-align: center;
  margin-top: -100px;
}

.teamdetailabout {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.teamdetailabout h4 {
  font-family: "Acme", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #2d3d0f;
  margin-bottom: 10px;
}

.teamdetailabout p {
  color: #6a6a78;
}

.icon {
  border-radius: 360%;
  margin-right: 5px;
  border-color: #c4c4c4;
  color: #0a142f;
}

.icon:hover {
  border-color: #2a4c90;
  color: #2a4c90;
}

@media (max-width: 430px) {
  .teamdetailcardinfo {
    margin-right: 0px;
  }
}
