.signup-content h1{
    font-size: 3.5em;
    color: #2A4C90;
    text-align: center;
    margin-bottom: 5vh;
    text-align: center;
    margin-top: 10vh;
  }

  .registrationForm img{
    height:400px;
    width: 380px;
    background-size: cover;
    opacity: 1
  }

  .registrationFormContainer Grid{
    display: flex;
    align-items:  center;
    justify-content: center
  }

  .location{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .locationbutton{
    width: 176px;
    height: 56px;
  }
  .locationbutton:hover{
    background-color: #2A4C90;
    color: white;
  }

  
  .button{
    height: 40px;
    width: 150px;
    border-radius: 12px;
    background: #DCC02F;
    box-shadow: 3px 5px 4px 0px #00000040;
    padding-left: 10px;
    border-color: #212529;
    cursor: pointer;
    border-width: 0;
    text-align: center;
    margin-top: -8px;
    margin-left: 6px;
  }
  
  .button:hover{  
    background: #0d6efd;
  }