.Items-container-header h1{
  font-size: 3.5em;
  color: #2A4C90;
  text-align: center;
  margin-bottom: 5vh;
  text-align: center;
  margin-top: 10vh;
}

.Items-container-body{
  width: 90vw;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  text-align: center; 
  margin-left: 6vw; 
}

.Items-container-body-boxes{
  padding-top: 10vh;
  padding-left: 5vw;
  display: grid;
  grid-gap: 45px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.Items-container-body-box{
  height: 457px;
  width: 288px;
  left: 560px;
  top: 774px;
  border-radius: 20px;
  box-shadow: -1px -2px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.Items-container-body-box-image img{
  width: 150px;
  height: 150px;
  padding-top: 20px;
}

.Items-container-body-box-text h2{
  font-size: 20px;
  margin-top: 5vh;
}

.Items-container-body-box-text h3{
  font-size: 15px;
}

.Items-container-body-box-button .bton{  
  width: 180px;
  height: 46px;
  background: #DBBA66;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  margin-top: 2vh;
  color: #fff;
}