.serviceheader {
  font-size: 3.5em;
  color: #2a4c90;
  margin-bottom: 5vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  display: block;
  text-align: center;
  margin-top: 5rem;
}

.cards_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.workcard {
  width: 18rem;
  padding: 50px 20px;
  border-radius: 50px;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.workcard_body img {
  width: 100px;
  height: 100px;
}

.workcard_body h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.workcard_body span {
  font-family: "Ubuntu", sans-serif;
}

.service_btn {
  margin-top: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
