.banner h1 {
  font-size: 3.5em;
  color: #2a4c90;
  text-align: center;
  margin-bottom: 5vh;
  text-align: center;
  margin-top: 10vh;
}

.eleccontainer {
  margin: 0px;
  max-width: 100%;
  min-width: 100%;
  padding: 0px;
  margin-top: 6vh;
  padding-left: 5rem;
  padding-right: 5rem;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  max-width: 100%;
  min-width: 100%;
  padding: 0px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.eleccards {
  margin-top: 5rem;
  margin-right: 8rem;
  width: 350px;
  height: 450px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.eleccards .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.eleccards .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.eleccards .card_title {
  font-family: sans-serif;
  position: absolute;
  left: 3.5rem;
  bottom: 2rem;
  color: white;
  text-align: center;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.eleccards:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.elec_details {
  color: white;
  opacity: 0;
  transition: 0.5s;
  line-height: 0px;
  max-height: 1px;
}

.eleccards:hover .elec_details {
  opacity: 1;
  line-height: 20px;
  transition: 0.5s;
  max-height: 15rem;
}

.eleccards:hover .card_image img {
  filter: blur(5px);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}

.elec_name {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.elec_city {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.elec_add {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.elec_ph {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.elec_ra {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

@media (max-width: 430px) {
  .eleccards {
    width: 300px;
    height: 400px;
    margin-right: 0px;
  }
  .cards-list {
    padding-left: 0px;
    padding-right: 0px;
  }

  .eleccards .card_title {
    left: 2.2rem;
  }
}
