/* .new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}

.container{
    margin-left: 8vw;
}

.title .h3{
    font-size: 1.5vw;
    color: #0000;
}

.footerbox{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.boxes{
    width: 350px;
}

.title p{
    text-align: justify;
    color: #858da8;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    text-align: center;
    background-color: #2A4C90;
}

.social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.help_link li a{
  text-decoration: none;
  color: #858da8;
}
.new_footer_top .social_icon a:hover {
    background: #2A4C90;
    border-color: #2A4C90;
  color:white;
}

.new_footer_top .social_icon a + a {
    margin-left: 4px;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url(../assets/footerbg.png) no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url(../assets/volks.gif) no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url(../assets/cyclist.gif) no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
} */
