.itemscard_parent {
  margin: 0px;
  max-width: 100%;
  min-width: 100%;
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.itemscard_card {
  border-radius: 20px;
  margin-bottom: 5rem;
  padding-top: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.itemscard_img {
  object-fit: cover;
  min-height: 200px;
  max-height: 200px;
}

.itemscard_title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.itemcard_price {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.Items-container-header {
  margin-top: 5rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.button{
  background-color: #ffc107;
  color: #2A4C90;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 6px;
  width: 250px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.cardbody{
  width: 900px;
  height: 450px;
  background-color: #EFF5FF;
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
  font-family: 'Acme', sans-serif;
  border: 2px solid #688F23;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 20px #6d6d6d;
}

@media (max-width: 430px) {
  .itemscard_card {
    border-radius: 20px;
    margin-right: 0rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    font-family: "Ubuntu", sans-serif;
  }
}
