.items{
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    text-align: center;
}

.items_list{
    width: 90vw;
    justify-content: space-evenly;
    margin-left: 4vw;
}

.items_card{
    text-align: center;
    width: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.items_card img{    
    width: 180px;
    margin: 10px 0 10px 0;
}

.items_carddetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items_service_button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #5289FF;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    /* margin: 5px; */
    margin-bottom: 10px;
    line-height: 1;
    text-decoration: none;
}

.payment-done {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}