/* .banner h1{
    font-size: 3.5em;
    color: #2A4C90;
    text-align: center;
    margin-bottom: 5vh;
    text-align: center;
    margin-top: 10vh;
  }
  
  .button{
    height: 40px;
    width: 150px;
    border-radius: 50px;
    background: #DCC02F;
    box-shadow: 3px 5px 4px 0px #00000040;
    padding-left: 10px;
    border-color: #212529;
    cursor: pointer;
    border-width: 2px;
  }
  
  .button:hover{  
    background: #0d6efd;
  }
  
  .mechcontainer{
    margin-top: 6vh;
  }
  
  .cards{
    margin-bottom: 5vh;
  }
  
  .containers{
    margin-top: 6vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 3fr));
    margin-left: 8vw;
  }
  
  .pemCard {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }
  
  .cards h3,h5,h6{
    color: #ffff;
  }
  
  .boxbutton{
    height: 40px;
    width: 250px;
    border-radius: 8px;
    background: #DCC02F;
    box-shadow: 3px 5px 4px 0px #00000040;
    padding-left: 10px;
    border-color: #212529;
    cursor: pointer;
    border: none;
  }
  
  .boxbutton:hover{  
    background: #0d6efd;
  }
  
  .media img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
  
  .heading {
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid yellow;
    color: white;
  }
  
  .wrapper {
    margin: 10vh;
  }
  
  .pemCard.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .pemCard.card-has-bg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .pemCard.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .pemCard.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(
      0deg,
      rgba(4, 69, 114, 0.5) 0%,
      rgba(4, 69, 114, 1) 100%
    );
  }
  .pemCard.card-footer {
    background: none;
    border-top: none;
  }
  .pemCard.card-footer .media img {
    border: solid 3px rgba(234, 95, 0, 0.3);
  }
  .pemCard.card-meta {
    color: orange;
  }
  .pemCard .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .pemCard:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .pemCard:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .pemCard .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(
      0deg,
      rgba(35, 79, 109, 0.3785889355742297) 0%,
      rgba(69, 95, 113, 1) 100%
    );
  } */
