.navbar_brand_logo {
  width: 100px;
}

.nav-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  margin-right: 30px;
}

.nav-link:hover {
  color: rgb(198, 212, 0);
  text-decoration: none;
}

.navbar-toggler-icon {
  color: rgb(255, 255, 255) !important;
}

.navbar{
  background-color: #2A4C90;
}
