@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap");

.shopcardbody {
  width: 1000px;
  background-color: #eff5ff;
  padding: 20px;
  align-items: center;
  font-family: "Acme", sans-serif;
  border: 2px solid #313df9;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 20px #6d6d6d;
  
}

.backdrop {
  /* position: absolute; */
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop_box {
  text-align: center;
}

.shop_box img {
  width: 100px;
  height: 100px;
}

.shopcardpara {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 900px;
}

.headshopcard h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.servicesignup {
  text-decoration: none;
  float: right;
}

@media (max-width: 430px) and (min-width: 0px) {
  .backdrop {
    z-index: 1;
  }
  .headshopcard h1 {
    text-align: center !important ;
    margin-bottom: 1rem;
  }
  .services_section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shopcardbody {
    width: auto;
  }
  .headshopcard {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .shopcardpara {
    max-width: 320px;
    justify-content: space-evenly;
  }
  .shop {
    max-width: 60px;
    max-height: 60px;
  }
}
