@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap");

.worker_registration {
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.worker_registration_left {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.worker_registration_left h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #222;
}

.worker_registration_left h4 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #555;
}

.worker_registration_mid {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.worker_registration_box {
  width: 1236px;
  background: linear-gradient(91.41deg, #0050ff 0.15%, #4d85ff 99.82%);
  box-shadow: 0 6px 8px rgb(0 80 255 / 15%);
  border-radius: 12px;
  padding: 30px;
}

.worker_registration_inputs {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.worker_registration_inputs input {
  outline: none;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.worker_registration_inputs input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.worker_registration_box h2 {
  color: #ffff;
}

.worker_join_btn {
  display: flex;
  float: right;
  border: none;
  background: #fff;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #0050ff;
  padding: 10px;
  margin: 5px;
}

.worker_registration-paralogin {
  padding: 5px;
  display: flex;
  float: left;
  color: #222;
  font-size: 20px;
}

.worker_registration-login {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.worker_registration-login:hover {
  text-decoration: none;
}

/* //* MOBILE RESPONSIVENESS */
@media (max-width: 430px) and (min-width: 0px) {
  .worker_registration {
    flex-direction: column;
  }

  .worker_registration_left {
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .worker_registration_right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .worker_register_banner {
    max-width: 350px;
    margin-top: 20px;
  }

  .worker_registration_box {
    max-width: 400px;
  }

  .worker_registration_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wr_inputs {
    margin-bottom: 20px;
  }

  .worker_registration-paralogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .worker_registration-button {
    display: block;
  }

  .worker_registration_join_button_div {
    text-align: center;
  }

  .worker_join_btn {
    display: block;
  }

  .worker_join_button button {
    border: none;
    background: #fff;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #0050ff;
    padding: 10px;
    /* margin: 5px; */
  }
}
